      h3{
      text-align: center;
      }
      #table1, th, td{
      width : 70%;
      margin-left : 150px; 
      border: solid;
      border-collapse:collapse;
      text-align:center;
      }
      h5{
      color:Green;
      }
      td {
      width : auto;
      height: 80px;
      }